.login-modal-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    gap: 5px;
}

.login-modal-header {
    color: black;
    font-size: 20px;
}

.login-form-container {
    display: flex;
    flex-direction: column;

    gap: 10px;
    align-items: start;
    width: 80%;
    color: black;
}

.login-form-container > label, .login-form-container > label > input, li {
    color: black;
}

.login-button {
    margin: 10px 0px;
    width: 60px;
    align-self: center;
}

input {
    color: black;
    width: 95%;
}

.validation-errors {
    width: 80%;
}

.error-message {
    color: red;
    margin: 10px 0px;
}
