.all-workspaces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
}

.workspace-tiles {
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.single-workspace-tile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(193, 193, 193);
    margin: 5px;
    padding: 10px;

}
