.workspace-container {
    display: flex;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* margin-top: 10px; */
}

.workspace-edit-delete {
    border: solid 1px rgb(85, 85, 85);
    background-color: rgb(50, 50, 50);
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column;
    left: 20px;
    /* padding: 10px; */

}

.all-workspaces {
    border: 1px solid rgb(85, 85, 85);
    border-left: 2px solid rgb(85, 85, 85);
    border-bottom: none;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 150px;
    padding: 20px;
}

.workspace-list {
    cursor: pointer;
}

.single-workspace-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(85, 85, 85);
    min-width: fit-content;
    width: 200px;
    border-bottom: none;
    margin-left: 10px;
    /* padding: 10px; */
}

.workspace-details-header {
    /* align-self: start; */
    width: 85%;
}

.workspace-name {
    width: fit-content;
    margin: 20px 5px;
    cursor: pointer;
}

.extra-features {
    width: 90%;
    border-top: 1px solid rgb(85, 85, 85);
    border-bottom: 1px solid rgb(85, 85, 85);
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.extra-features>* {
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.channel-options {
    width: fit-content;
    cursor: pointer;
}

.all-channels {
    /* border-top: 1px solid rgb(85, 85, 85); */
    padding-top: 10px;
    width: 90%;
}

.create-channel-button, .edit-workspace-button, .delete-workspace-button  {
    max-width: 100px;
    /* width: 60%; */
    padding: 2px;
    margin: 0px 2px;
    font-size: 11px;
}

.singleChannel {
    margin: 10px 0px;
    width: auto;
}

.channel-name {
    cursor: pointer;
}

.edit-delete-channel-modals {
    display: flex;
    margin: 5px 0px;
    gap: 6px;
}

.hide {
    display: none;
}

#all-channels-header {
    padding: 0px 20px;
    text-decoration: underline;
}

.all-channels-container {
    width: 100%;
    min-height: 870px;
    padding: 10px 5px;
    border: 1px solid rgb(85, 85, 85);
    border-bottom: none;
}

.all-channels-single-channel {
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid rgb(85, 85, 85);
    cursor: pointer;
}
