
.workspace-container {
    /* border: 1px solid black; */
    display: flex;
    gap: 15px;
    width: 100%;
}

.singleChannel {
    /* border: 1px solid black; */
    margin: 10px 0px;
    width: auto;
}

.channelName {
    border: 1px solid black;

}

.channelName, .channelEdit, .channelDelete {
    cursor: pointer;
}
