.edit-channel-modal {
    /* width: 280px; */
    width: fit-content;
    padding: 10px 20px;
}

.edit-channel-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-channel-form > button {
    align-self: center;
    width: fit-content;
}

.edit-channel-modal > * {
    color: black;
}
