/* TODO Add site wide styles */
#root {
    min-height: 100vh;
    background-color: rgb(50, 50, 50);
    margin: none;
}

* {
    color: white;
}

p {
    font-family: 'Dosis';
}

button {
    color: black;
    cursor: pointer;
    
}

body {
    margin: 0;
    padding: 0;
}
