.hidden {
    display: none;
  }

.edit-delete-container {
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid black; */
    /* width: 20px; */
}

.message-edit-delete {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
