.profile-dropdown {
  position: absolute;
  background-color: rgb(40, 40, 40);
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
}

.hidden {
  display: none;
}

.navbar {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 100px;
  background-color: black;
}

.login-signup {
  display: flex;
  flex-direction: column;
  gap: 5px;

  color: black;
}

.home-button {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav-menu-dropdown {
  border: 1px solid green;
  /* background-color: black; */
  cursor: pointer;
  /* width: 25px;
  height: 25px; */
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
