.single-channel-container {
    border: 1px solid rgb(85, 85, 85);
    border-right: 2px solid rgb(85, 85, 85);
    border-bottom: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.single-channel-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin: 10px 0px;
}

.message-container {
    border-top: 1px solid rgb(85, 85, 85);
    height: fill;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.all-messages-container {
    display: flex;
    flex-flow: column-reverse;
    height: 90%;
    margin: 20px;
    gap: 10px
}

.create-message-container {
    border: 1px solid rgb(85, 85, 85);
    border-radius: 20px;
    margin: 15px;
}

.single-message {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    word-break: break-all;
}

/* .message-modal {
    display: none;
    position: relative;
}

.single-message:hover {
    border: 2px solid green;

}

.single-message-detail:hover + .message-modal {
    display: block;
    cursor: pointer;
} */

.single-message-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.single-message-detail > div {
    width: 95%;
}

.create-message-area {
    width: 99%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    resize: none;
    color: rgb(255, 255, 255);
}

.create-message-area:focus {
    outline: none;
}

.create-message-bottom {
    height: 100%;
    padding: 2px;
    padding-bottom: 1em;

}

.create-message-button {
    border-radius: 10px;
    margin: 10px 5px;
}
