.big-box-container {
    border: 1px solid black;
    display: flex;
    height: 100%;
    min-height: 700px;
}


.homepage-container {
    border: 1px solid black;
    display: flex;
    margin: 15px;
    padding: 15px;
    gap: 15px;
    height: 85%;
}
