.big-box-container {
    border: 1px solid black;
    display: flex;
    height: 100%;
    min-height: 700px;
}

.homepage-container {
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 15px;
    padding: 15px;
    gap: 15px;
    height: 85%;
}

.home-intro {
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    width: 60%;
}

.home-body {
    /* border: 1px solid rgb(255, 255, 255); */
    width: 80%;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

#feature-carousel-title {
    padding: none;
    margin: 0px;
}

.react-multi-carousel-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 500px;
    width: 500px;
    position: relative;
}

/* .react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
}

.react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
} */

.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: rgba(0,0,0,0.5);
    min-width: 43px;
    min-height: 43px;
    opacity: 1;
    cursor: pointer;
    bottom: 0px;
}

.single-feature {
    width: 450px;
    /* box-shadow: 4px 4px 5px red; */
    border: 1px solid rgb(98, 98, 98);
    padding: 10px;
    margin: 15px;
    gap: 30px;
}

#workspace-feature-img {
    border: 1px solid black;
}

.home-footer {
    width: 95%;
    position: absolute;
    bottom: 40px;
}

.home-footer-content {
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}

/* .social-links {
    display: flex;
    align-items: center;
} */
