.hidden {
    display: none;
}

.edit-delete-container {
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
}

.triple-bar {
    cursor: pointer;
}


.message-edit-delete {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* position: relative; */
    /* top: 300px; */
    right: 75px;
    background-color: rgb(40, 40, 40);
    border: 1px solid white;
    border-radius: 6px;
    gap: 5px;
    padding: 5px;
    z-index: 1;
}
